

#rank-parent{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent2{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent2{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent2{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent2{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent2{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent3{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent3{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent3{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent3{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent3{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent4{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent4{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent4{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent4{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent4{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent5{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent5{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent5{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent5{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent5{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent6{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent6{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent6{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent6{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent6{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent7{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent7{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent7{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent7{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent7{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}


#rank-parent8{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#name-parent8{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#points-parent8{
    position: absolute;
    overflow: hidden;
    top: 84.3%;
    left: 3.9%;
    font-size: 266%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#wins-parent8{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}

#owins-parent8{
    position: absolute;
    overflow: hidden;
    top: 88.3%;
    left: 3.9%;
    font-size: 200%;
    height: 19%;
    width: 46%;
    text-align: left;
}