

.name{
    position: absolute;
    overflow: hidden;
    top: 48%;
    left: 13%;
    font-size: 500%;
    height: 19%;
    width: 60%;
    text-align: left;
}
.name2{
    position: absolute;
    overflow: hidden;
    top: 48%;
    left: 28.5%;
    font-size: 500%;
    height: 19%;
    width: 60%;
    text-align: right;
}