
.countdown-parent{
    position: absolute;
    left: -32.8%;
    top: 88.9%;
    overflow: hidden;
    height: 219%;
    width: 329.7%;
    font-size: 420%;
    text-align: center;
}

.text-parent{
    position: absolute;
    left: -32.8%;
    top: 87.6%;
    overflow: hidden;
    height: 219%;
    width: 329.7%;
    font-size: 224%;
    text-align: center;
}


